<!DOCTYPE html>
<html lang="en" ng-app="app">
	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<script src="lib/angular/angular.js"></script>
		<script src="lib/angular-animate/angular-animate.js"></script>
		<script src="lib/angular-bootstrap/ui-bootstrap-tpls.js"/></script>
		<script scr="lib/file-saver.js/FileSaver.js"></script>
	</head>

	<body>
		<div ng-controller="mainController">
			<div ng-controller="tabsCtrl">
				<tabset>
				    <tab heading="Static title">Static content</tab>
				    <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
				      {{tab.content}}
				    </tab>
		  		</tabset>
		  	</div>

		
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-1 col-sm-2 col-xm-1" ng-repeat="champion in champions.data">
						<div>
							<a href="#" class="thumbnail">
								<img src="http://ddragon.leagueoflegends.com/cdn/5.2.1/img/champion/{{ champion.image }}" class="img-responsive">
								<div class="championNames">{{ champion.name }}</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		

		<!-- Modules -->
	    <script src="js/app.js"></script>

	    <!-- Controllers -->
	    <script src="js/controllers/mainController.js"></script>

	    <!-- Services -->
	    <script src="js/services/champions.js"></script>
	    <script src="js/services/shareData.js"></script>
	    <!-- Directives -->
		
		
		
		
		
	</body>



</html>