 <style>
      .thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }
      .emage { height: 215px; }
      h1 { padding: .2em; margin: 0; }
      #products { float:left; width: 500px; margin-right: 2em; }
      #cart { width: 200px; float: left; margin-top: 1em; }
      #cart ol { margin: 0; padding: 1em 0 1em 3em; }
    </style>
  </head>
  <body ng-controller="oneCtrl">
    <div id="products">
      <h1 class="ui-widget-header">Items</h1>
      <div id="catalog">
        <h2><a href="#">Most Common</a></h2>
        <div>
          <ul>
            <li ng-repeat='item in list2' ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list2" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
              <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
            </li>
          </ul>
        </div>
      </div>
    </div> 
    <div id="cart">
        <h1 class="ui-widget-header">Item Sets</h1>
        <div class="ui-widget-content">
            <ol data-drop="true" ng-model='list1' jqyoui-droppable="{multiple:true}">
                <li ng-repeat="item in list1 track by $index" ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}},animate:true}">
                  <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
                 </li>
               
            </ol>
        </div>
    </div>
    <div ng-controller = "jsonCtrl"> 
          <button    
          ng-click="done()"
        ></button>

    </div>