 <style>
      .thumbnail { height: 280px !important; }
      .btn-droppable { width: 180px; height: 30px; padding-left: 4px; }
      .btn-draggable { width: 160px; }
      .emage { height: 215px; }
      h1 { padding: .2em; margin: 0; }
      #products { float:left; width: 500px; margin-right: 2em; }
      #cart { width: 200px; float: left; margin-top: 1em; }
      #cart ol { margin: 0; padding: 1em 0 1em 3em; }
    </style>
  </head>
  <div id="products" ng-controller="oneCtrl">

      <h1 class="ui-widget-header">Items</h1>
      <div id="catalog">
        <h2><a href="#">Most Common</a></h2>
        <div>
          <ul>
            <li ng-repeat='item in list1' ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
              <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
            </li>
          </ul>
        </div>
      </div>
      <div ng-controller="ButtonsCtrl">
      <tabset>
        <tab ng-repeat="tab in startingTabs" heading="{{tab.title}}">
              <div ng-repeat = 'item in tab.content' ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="tab.content" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
                  <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
                  {{item}}
                 </div>
        </tab>
      </tabset>
    </div>
      
      <div ng-controller="ButtonsCtrl">
        <h4>All Items</h4>
        <pre>Results:
          <div ng-repeat = 'item in showResults' ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="showResults" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">
             <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
          </div>
        </pre>
        <ul>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="checkModel.Consumable" btn-checkbox>Consumable</label>
            <label class="btn btn-primary" ng-model="checkModel.GoldIncome" btn-checkbox>Gold Income</label>
            <label class="btn btn-primary" ng-model="checkModel.Vision" btn-checkbox>Vision & Trinkets</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="checkModel.Armor" btn-checkbox>Armor</label>
            <label class="btn btn-primary" ng-model="checkModel.Health" btn-checkbox>Health</label>
            <label class="btn btn-primary" ng-model="checkModel.HealthRegen" btn-checkbox>Health Regen</label>
            <label class="btn btn-primary" ng-model="checkModel.MagicResist" btn-checkbox>Magic Resist</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="checkModel.AttackSpeed" btn-checkbox>Attack Speed</label>
            <label class="btn btn-primary" ng-model="checkModel.CriticalStrike" btn-checkbox>Critical Strike</label>
            <label class="btn btn-primary" ng-model="checkModel.Damage" btn-checkbox>Damage</label>
            <label class="btn btn-primary" ng-model="checkModel.LifeSteal" btn-checkbox>Life Steal</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="checkModel.CDReduction" btn-checkbox>CD Reduction</label>
            <label class="btn btn-primary" ng-model="checkModel.Mana" btn-checkbox>Mana</label>
            <label class="btn btn-primary" ng-model="checkModel.ManaRegen" btn-checkbox>Mana Regen</label>
            <label class="btn btn-primary" ng-model="checkModel.AbilityPower" btn-checkbox>Ability Power</label>
        </div>
        <div class="btn-group">
            <label class="btn btn-primary" ng-model="checkModel.Boots" btn-checkbox>Boots</label>
            <label class="btn btn-primary" ng-model="checkModel.NonbootsMovement" btn-checkbox>Other Movements</label>
        </div>
        </ul>
    </div>
    
  </div> 
    <div id="cart">
        <h1 class="ui-widget-header">Item Sets</h1>
        <div class="ui-widget-content">
            <ol data-drop="true" ng-model='list2' jqyoui-droppable="{multiple:true}">
                <li ng-repeat="item in list2 track by $index" ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list2" jqyoui-draggable="{index: {{$index}},animate:true}">
                  <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
                  {{list2}}
                 </li>
               
            </ol>
        </div>
    </div>
    <div ng-controller = "jsonCtrl"> 
          <button ng-click="done()" ></button>
    </div>
    
    