<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Orbitron">
<style>
  *{
    font-family: Orbitron; 
  }
  
  .ng-scope{
    color: #fff;
    
  }
  
  .panel{
    background-color: transparent;
  }
  
  .panel-default > .panel-heading{
    background-color: #000;
  }
  
  .panel-body{
    padding: 5px;
    
  }
  
  #products { 
    float:left; 
    width: 100%; 
    margin-right: 2em; 
  }
  
/* Starter Item Accordion*/
  .nav-tabs>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: black;
  }
  
  .tab-content {
    margin-left: 1%;
    margin-right: 1%;
  }
  
  .ui-draggable-dragging{
    min-height: 64px; 
    min-width: 64px;
  }
  
  .accordion{
    float: left;
    width: 40%;
    height: 90%;
    padding-left: 5%;
    padding-top: 2%;
    margin: 0 0 0 0;
  }
  
  #itemSet{
    float: right;
    width: 60%;
    height: 90%;
    border: 1px solid white;
    margin: 2% 0 0 0;
    padding-right: 5%;
  }
  
  #itemBuilder{
    margin: auto;
    padding: auto;
  }
  
  .checkbox{
    margin: 0 0 0 0;
    padding: 1px 2px 21px 33px;
    
  }
  
  .checkbox>input{
    margin: 0;
    padding: 0;
  }
  
  #allItems>div>div>input{
    width: 100%;
    padding-left: 30px;
    color: white;
    padding-bottom: 1px;
    background-color: transparent;
    background-image: url('http://findicons.com/files/icons/1389/g5_system/32/toolbar_find.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 16px;
    outline:0;
  }
  
  #allItems>input, select, textarea{
    color: #fff;
  }
  
  #allItems>input::-webkit-input-placeholder{
    color: #FFF;
  }
  
  #allItems_Left{
    float: left;
    height: 401px;
    width: 50%;
    border: 1px solid white;
  }
  #allItems_Right{
    float: right;
    height: 401px;
    width: 50%;
    border: 1px solid white;
  }
  
  #allItems_Left_Left{
    padding-top: 5px;
    float: left;
    height: 400px;
    width: 80%;
    border-right: 1px solid white;
  }
  #allItems_Left_Right{
    padding-top: 5px;
    float: left;
    height: 400px;
    width: 20%;
    
  }
  
  #allItems_Right>pre{
    background-color: transparent;
    padding: 5px;
    margin: 0px;
  }
  
  #allItems_Right>.container{
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: scroll;
  }
  
  #allItems_Right>.container>.col-lg-3{
    padding: 6px 6px 6px 6px;
  }
  
  .LG_categories, .SM_categories{
    font-size: 12px;  
  }
  
  .LG_categories{
    padding-left: 3px;
  }
  
  .SM_categories{ 
    color: #FFBF5F;
    padding-left: 15px;
  }
  .ui-widget-content>ol{
    border: 1px dashed red;
    min-height: 50px;
  }
  
  .itemBlock{
    min-height: 50px;
  }
  
  .itemBlock>ol{
    border: 1px dashed red;
    padding-top: 40px;
  }
  
  .popover{
    color: orange;
    background-color: black;
  }
  
  .popover-title{
    background-color: orange;
    border: 0px;
  }
  
  #searchResult{
    position: absolute;
    height: 200px;
    width: 427px;
    border: 1px solid blue;
    display: none;
  }
  
  .modal.fade.in {
    top: 50%;
    left: 50%;
    height: 76.1%;
  }
  
  .modal-header h3 {
    margin: 0;
    line-height: 30px;
    color: black;
  }
  .modal-body {
    color: black;
  }
  .modal.in .modal-dialog {
    width: 100%;
    margin: 0px;
  }
</style>

<div id="itemBuilder" ng-controller="oneCtrl">
  <div class="accordion" ng-controller="AccordionDemoCtrl">
    <accordion close-others="oneAtATime">
      <accordion-group is-open="status.isFirstOpen">
        <accordion-heading>
          Starter Items      
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFirstOpen, 'glyphicon-chevron-right': !status.isFirstOpen}"></i>
        </accordion-heading> 
        <div ng-controller="ButtonsCtrl">
          <tabset>
            <tab ng-repeat="tab in startingTabs" heading="{{tab.title}}">
                  <div class="col-lg-2" ng-repeat = 'item in tab.content' ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="tab.content" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}"
                    popover-title={{itemOriginalData[item]['name']}} popover = {{itemOriginalData[item]['plaintext']}} Popover-animation="true" popover-placement="bottom" popover-trigger="mouseenter">
                    <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
                  </div>
            </tab>
          </tabset>
        </div>
      </accordion-group>
      
      <accordion-group is-open="status.isSecondOpen">
        <accordion-heading>
          Most commonly used items        
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isSecondOpen, 'glyphicon-chevron-right': !status.isSecondOpen}"></i>
        </accordion-heading>
        <div id="products" ng-controller="ButtonsCtrl">
          <div id="catalog">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-2" ng-repeat='item in list1'>
                  <div ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="list1" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}"
                    popover-title={{itemOriginalData[item]['name']}} popover = {{itemOriginalData[item]['plaintext']}} Popover-animation="true" popover-placement="bottom" popover-trigger="mouseenter">
                    <img style="min-height: 25px; min-width: 25px" src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </accordion-group>
      
      <accordion-group is-open="status.isThirdOpen">
        <accordion-heading>
          Pro Builds        
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isThirdOpen, 'glyphicon-chevron-right': !status.isThirdOpen}"></i>
        </accordion-heading>
        <div id="products" ng-controller="ButtonsCtrl">
          <div id="catalog">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-2" ng-repeat='item in listpro'>
                  <div ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="listpro" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}"
                    popover-title={{itemOriginalData[item]['name']}} popover = {{itemOriginalData[item]['plaintext']}} Popover-animation="true" popover-placement="bottom" popover-trigger="mouseenter">
                    <img style="min-height: 25px; min-width: 25px" src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> 
      </accordion-group>
      
      
      
      <accordion-group is-open="status.isFourthOpen">
        <accordion-heading>
          All items
          <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isFourthOpen, 'glyphicon-chevron-right': !status.isFourthOpen}"></i>        
        </accordion-heading>
        <div id="allItems">
          <div ng-controller="ButtonsCtrl">
            <div ng-controller="SearchCtrl">
              <input type="search" placeholder="Search" ng-model="searchText.name"></input>
              <div id="searchResult">
                <div class="col-lg-3" ng-repeat = 'item in items1 | filter: searchText' ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="item.key" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}"
                    popover-title={{itemOriginalData[item]['name']}} popover = {{itemOriginalData[item]['plaintext']}} Popover-animation="true" popover-placement="bottom" popover-trigger="mouseenter">
                      <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item.key}}.png" class="img-responsive">
                </div>
              </div>
            </div>
            
            <div id="allItems_Left">
              <div id="allItems_Left_Left">
                <div class='LG_categories'>Tools</div>
                <div class='SM_categories'>Consumable</div>
                <div class='SM_categories'>Gold Income</div>
                <div class='SM_categories'>Vision & Trinkets</div>
                <div class='LG_categories'>Defense</div>
                <div class='SM_categories'>Armor</div>
                <div class='SM_categories'>Health</div>
                <div class='SM_categories'>Health Regen</div>
                <div class='SM_categories'>Magic Resist</div>
                <div class='LG_categories'>Attack</div>
                <div class='SM_categories'>Attack Speed</div>
                <div class='SM_categories'>Critical Strike</div>
                <div class='SM_categories'>Damage</div>
                <div class='SM_categories'>Life Steal</div>
                <div class='LG_categories'>Magic</div>
                <div class='SM_categories'>Cooldown Reduction</div>
                <div class='SM_categories'>Mana</div>
                <div class='SM_categories'>Mana Regen</div>
                <div class='SM_categories'>Ability Power</div>
                <div class='LG_categories'>Movement</div>
                <div class='SM_categories'>Boots</div>
                <div class='SM_categories'>Other Movement Items</div>
              </div>
              <div id="allItems_Left_Right">
                <div class="checkbox"></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.Consumable" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.GoldIncome" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.Vision" btn-checkbox></input></div>
                <div class="checkbox"></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.Armor" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.Health" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.HealthRegen" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.MagicResist" btn-checkbox></input></div>
                <div class="checkbox"></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.AttackSpeed" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.CriticalStrike" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.Damage" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.LifeSteal" btn-checkbox></input></div>
                <div class="checkbox"></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.CDReduction" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.Mana" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.ManaRegen" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.AbilityPower" btn-checkbox></input></div>
                <div class="checkbox"></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.Boots" btn-checkbox></input></div>
                <div class="checkbox"><input type="checkbox" class="btn btn-primary" ng-model="checkModel.NonbootsMovement" btn-checkbox></input></div>
              </div>             
            </div>
            <div id="allItems_Right">
                <div class="container">
                  <div class="col-lg-3" ng-repeat = 'item in showResults' ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="showResults" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}"
                    popover-title={{itemOriginalData[item]['name']}} popover = {{itemOriginalData[item]['plaintext']}} Popover-animation="true" popover-placement="bottom" popover-trigger="mouseenter">
                    <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
                  </div>
                </div>
            </div>
          </div>
        </div>
      </accordion-group>
  </div>
  
  <div id="itemSet">
    <h1 class="ui-widget-header">Item Sets</h1>
    <div class="ui-widget-content"  ng-controller="ButtonsCtrl">
      <div class="itemBlock" ng-repeat="block in list2 track by $index">
        <input type="text" name ="input" ng-model = "blockNames[$index]"  placeholder="Change Block Name" ></input>
        <ol data-drop="true" ng-model='block' jqyoui-droppable="{multiple:true}">
          <li ng-repeat="item in block track by $index" ng-show="item" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="item" jqyoui-draggable="{index: {{$index}},animate:true}" ng-dblclick = "onOut(block,item)"
            popover-title={{itemOriginalData[item]['name']}} popover = {{itemOriginalData[item]['plaintext']}} Popover-animation="true" popover-placement="bottom" popover-trigger="mouseenter">
            <img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{item}}.png" class="img-responsive">
          </li>

        </ol>
      </div>      
    </div>
    
    
    <div ng-controller="jsonCtrl">
      <div ng-controller="ModalCtrl">
          <script type="text/ng-template" id="myModalContent.html">
              <div class="modal-header">
                  <h3 class="modal-title">Usage</h3>
              </div>
              <div class="modal-body">
                  You can change the json name to whatever you want, but these names are reserved by LoL. Files with these name will NOT work.
                  <pre>
                    {championKey}SR.json
                    {championKey}TT.json
                    {championKey}DM.json
                    {championKey}ASC.json
                    {championKey}PG.json
                  </pre>
                  After downloading, you need to put the file into League of Legends config directory:
                  
                  <pre>
                    Directory: League of Legends\Config\Champions\{championKey}\Recommended\
                    Example: League of Legends\Config\Champions\MonkeyKing\Recommended\
                  </pre>
              </div>
              
              <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
              </div>
            </script>
      <input type="text" name="input" ng-model="name">
      
      <button type="button" class="btn btn-default" ng-click="open()">Read before Use</button>
      <button type="button" class="btn btn-default" ng-click="done()">Generate Json</button>
    </div>
    </div>
    
    <div>
        <button ng-click="addBlock()">Add Block</button>
    </div>
  </div>
  

</div>